<section
    data-header-color="black"
    class="Landing-section h-screen w-full bg-slate-600 relative text-center overflow-hidden"
>
    <div class="relative z-30 h-full flex-col flex px-4 sm:px-6">
        <header class="text-black pt-32 sm:pt-40">
            <h2 class="font-medium text-3xl sm:text-4xl lg:text-5xl">
                Model Y
            </h2>
            <p class="font-medium text-sm sm:text-base underline mt-2">
                Concretar una prueba de conducción
            </p>
        </header>
        <footer class="flex flex-grow justify-end flex-col pb-16 sm:pb-20">
            <div
                class="flex flex-col sm:flex-row justify-center gap-4 sm:gap-5 px-4"
            >
                <a
                    class="text-white text-sm sm:text-base px-6 sm:px-8 py-2 sm:py-3 border-2 border-black rounded font-medium
                 hover:bg-transparent hover:text-black
                 transition-colors backdrop-blur-xl bg-gray-900"
                    href="#"
                >
                    Explorar inventario
                </a>
                <a
                    class="text-black text-sm sm:text-base px-6 sm:px-8 py-2 sm:py-3 border-2 border-white rounded font-medium
                  hover:bg-white
                 hover:text-black transition-colors backdrop-blur-xl bg-white/5"
                    href="#"
                >
                    Pedido personalizado
                </a>
            </div>
        </footer>
    </div>
    <div class="top-0 bottom-0 absolute h-full z-10 w-full">
        <img
            class="object-cover h-full object-center w-full"
            src="/model-y.avif"
        />
    </div>
</section>
