<section 
data-header-color="white"
class="Landing-section h-screen w-full bg-slate-600 relative text-center overflow-hidden">
    <div class="relative z-30 h-full flex-col flex" >
        <header>
            <h2 class="text-white font-medium text-4xl pt-40">Disfrute de Tesla</h2>
            <p class="text-white font-medium text-[12px]">Programe una prueba de conducción hoy mismo</p>
        </header>
        <footer class="flex flex-grow justify-end flex-col pb-20">
            <div>
                <a class="text-white text-sm px-4 py-2 border-2 border-white rounded font-medium hover:bg-white
                 hover:text-black transition-colors backdrop-blur-xl bg-white/5" href="#">
                    Prueba de conducción
                </a>
            </div>
        </footer>
    </div>
    <div class="top-0 bottom-0 absolute h-full z-10 w-full"> 
        <video class="object-cover h-full object-center w-full" src="/video.webm" autoplay muted loop></video>
    </div>
</section>