<section
    data-header-color="white"
    class="Landing-section h-screen w-full bg-slate-600 relative text-center overflow-hidden"
>
    <div class="relative z-30 h-full flex-col flex px-4 sm:px-6">
        <header class="pt-32 sm:pt-40">
            <h2 class="text-white font-medium text-3xl sm:text-4xl lg:text-5xl">
                Disfrute de Tesla
            </h2>
            <p class="text-white font-medium text-sm sm:text-base mt-2">
                Programe una prueba de conducción hoy mismo
            </p>
        </header>
        <footer class="flex flex-grow justify-end flex-col pb-16 sm:pb-20">
            <div>
                <a
                    class="text-white text-sm sm:text-base px-6 sm:px-8 py-2 sm:py-3 border-2 border-white rounded font-medium hover:bg-white
                 hover:text-black transition-colors backdrop-blur-xl bg-white/5 inline-block"
                    href="#"
                >
                    Prueba de conducción
                </a>
            </div>
        </footer>
    </div>
    <div class="top-0 bottom-0 absolute h-full z-10 w-full">
        <video
            class="object-cover h-full object-center w-full"
            src="/video.webm"
            autoplay
            muted
            loop></video>
    </div>
</section>
